@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: #1f1f1f;
    background-image: linear-gradient(
        to right,
        #485563, #29323c
    );

    .searchBar {

        .octicon {
            font-size: 36px;
            margin-top: 0.2em;
            margin-right: 0.75em;
            color: #6f6f6f;
        }

        background-color: #ffffff;
        line-height: 2em;
        padding: 2em;

        input {
            padding: 1em;
            width: 20em;
            height: 3em;
            font-size: 1.2em;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
        }

        button {
            padding: 0 1em;
            width: 150px;
            background-color: #29323c;
            color: #ffffff;
            font-size: 1.2em;
            line-height: 3em;
            border-style: none;
            border-radius: 4px;
            margin-left: 1em;
            cursor: pointer;

            &:hover {
                background-color: #485563;
            }
        }

        .sortContainer {
            padding: 3em 1em;
            position: absolute;
            top: 0;
            right: 0;
            font-weight: bold;

            .octicon {
                color: #6f6f6f;
                font-size: 36px;
                width: 36px;
                text-align: center;
                margin: 0 10px;
                cursor: pointer;

                &.active {
                    color: #fb7262;
                }
            }
        }
    }

    .container {

        .repositoryListContainer {
            width: 20%;
            float: left;

            .repositoryList {
                list-style-type: none;
                margin: 2em 0;
                padding: 0;
                border-radius: 0px 4px 4px 0px;

                li {
                    @include clearfix;
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid #efefef;
                    cursor: pointer;
                    background-color: #ffffff;

                    &:first-child {
                        border-radius: 0px 4px 0px 0px;
                    }

                    &:last-child {
                        border-radius: 0px 0px 4px 0px;
                    }

                    &:nth-child(odd) {
                        background-color: #f9f9f9;
                    }

                    &:hover  {
                        background-color: #f6f6f6;
                    }

                    &.active {
                        background-color: #fb7262;
                        color: #ffffff;
                    }

                    h3 {
                        padding: 1em;
                        margin: 0;
                        float: left;
                        clear: left;
                    }

                    .repoMeta {
                        padding: 1.2em;
                        float: right;

                        .metaItem {
                            display: inline-block;
                        }

                        .octicon {
                            margin-right: 0.5em;
                        }
                    }
                }
            }
        }

        .commitListContainer {
            float: left;
            width: 80%;
            padding: 2em;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 2em;
                    background-color: #f9f9f9;
                    border-bottom: 1px solid #efefef;
                    position: relative;

                    &:first-child {
                        border-radius: 4px 4px 0px 0px;
                    }

                    &:last-child {
                        border-radius: 0px 0px 4px 4px;
                    }

                    .author {
                        display: inline-block;
                        background-size: 40px;
                        background-repeat: no-repeat;
                        line-height: 40px;
                        padding-left: 50px;
                        font-weight: bold;
                    }

                    .commitDate {
                        position: absolute;
                        top: 2.8em;
                        right: 2em;
                        color: #6f6f6f;
                    }

                    .commitMessage {
                        margin-top: 1em;
                    }

                    a {
                        margin-top: 1em;
                        display: block;
                        width: 300px;
                        text-decoration: none;
                        font-size: 0.9em;
                        color: #9f9f9f;
                        text-overflow: ellipsis;
                        font-style: italic;
                    }
                }
            }
        }
    }
}
