html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    color: #1f1f1f;

    .searchBar {

        .octicon {
            font-size: 36px;
            margin-top: 0.2em;
            margin-right: 0.75em;
            color: #6f6f6f;
        }

        background-color: #efefef;
        border-bottom: 1px solid #dfdfdf;
        line-height: 2em;
        padding: 2em;

        input {
            padding: 1em;
            width: 30em;
            height: 3em;
            font-size: 1.2em;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
        }

        button {
            padding: 0 1em;
            width: 150px;
            background-color: #1a4c7e;
            color: #ffffff;
            font-size: 1.2em;
            line-height: 3em;
            border-style: none;
            border-radius: 4px;
            margin-left: 1em;
            cursor: pointer;
        }
    }

    .container {

        .repositoryListContainer {
            width: 35%;
            float: left;

            .sortContainer {
                padding: 1em;
                font-weight: bold;
                color: #6f6f6f;
                width: 100%;
                text-align: center;

                .octicon {
                    font-size: 25px;
                    width: 25px;
                    text-align: center;
                    margin: 0 5px;
                    cursor: pointer;

                    &.active {
                        color: #da181e;
                    }
                }
            }

            .repositoryList {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid #efefef;
                    cursor: pointer;

                    &.active, &:hover {
                        background-color: #f9f9f9;
                    }

                    h3 {
                        padding: 1em;
                        margin: 0;
                    }

                    .repoMeta {
                        color: #3f3f3f;
                        padding: 0 1em 1em;

                        .metaItem {
                            display: inline-block;
                            background-color: #f9f9f9;
                            border-radius: 4px;
                            margin-right: 5px;
                            padding: 0.5em;
                        }

                        .octicon {
                            color: #6f6f6f;
                            margin-right: 0.5em;
                        }
                    }
                }
            }
        }

        .commitListContainer {
            float: left;
            width: 65%;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #f9f9f9;

                li {
                    padding: 2em;
                    border-bottom: 1px solid #efefef;
                    position: relative;

                    .author {
                        display: inline-block;
                        background-size: 40px;
                        background-repeat: no-repeat;
                        line-height: 40px;
                        padding-left: 50px;
                        font-weight: bold;
                    }

                    .commitDate {
                        position: absolute;
                        top: 2.8em;
                        right: 2em;
                        color: #6f6f6f;
                    }

                    .commitMessage {
                        margin-top: 1em;
                    }

                    a {
                        margin-top: 1em;
                        display: block;
                        width: 300px;
                        text-decoration: none;
                        font-size: 0.9em;
                        color: #9f9f9f;
                        text-overflow: ellipsis;
                        font-style: italic;
                    }
                }
            }
        }
    }
}
